body {
    padding: 0px;
    margin: 100px;
  
    /* Set the default font family and font color for our application. */
    font-family: 'Figtree';
    color: black;
  
    /* Set the background color*/
    background-color: white;
  }
h1 { 
    font-size: 51.65px;
}
#typed {
    color: #800020; 
}
p {
    font-size: 32.74px;
    font-weight: lighter;
}
.menu {
    display: flex; 
    justify-content:space-between;
}
.menu-right {
    display: flex; 
    align-content: space-between;
}
.abt {
    margin-right: 40px;
    margin-top:0;
}
.resea {
    margin-top:0;
}
.menuitem { 
    text-decoration: none;
    color: #800020;
    border-color: black;
}
.logo { 
    max-width: auto; 
    height: 25px;
}
main {
    margin-top: 100px;
}
.intro_link {
    display: flex;
    color:#800020;
    margin-bottom: 100px;
}
.aboutMe_resume {
    margin-left: 60%;
    color:#800020;
}
.aboutMe_linkedin {
    color:#800020;
}
/*-----------------------*/
.linkedinRedesign {
    display:flex;
    margin-top: 50px;
}
.project_thumbnail {
    width: auto;
    height: 427px; 
}
.projectTitle{ 
    margin-left: 10%;
}
.project-name { 
    font-weight: lighter;
}
/*-----------------------*/
.vmtTool{
    display: flex; 
    flex-direction: row-reverse;
    margin-top: 50px; 
}
.projectTitle2{ 
    margin-right: 10%;
}
.projectLink{
    margin-top: 300px; 
    color: #800020;
}
/*-----------------------*/
.footer{
    display: flex;
    justify-content:space-between; 
    margin-top: 50px;
}
.credits-right { 
    color: black;
}
.credits { 
    color: black;
}

