body {
    padding: 0px;
    margin: 100px;
  
    /* Set the default font family and font color for our application. */
    font-family: 'Figtree';
    color: black;
  
    /* Set the background color*/
    background-color: white;
  }
h1 { 
    font-size: 51.65px;
}
p {
    font-size: 32.74px;
    font-weight: lighter;
}
.menu {
    display: flex; 
    justify-content:space-between;
}
.abt {
    margin-right: 40px;
}
.menu-right {
    display: flex; 
    align-content: space-between;
}
.logo { 
    max-width: auto; 
    height: 25px;
    margin-top: 40px;
}
main {
    margin-top: 100px;
}
.intro_link {
    display: flex;
    color:#800020;
    margin-bottom: 100px;
}
.aboutMe_resume {
    margin-left: 60%;
}

.linkedinredesign_thumbnail {
    width: auto;
    height: 427px; 
}
.linkedinRedesign {
    display:flex;
}
.projectTitle{ 
    margin-left: 10%;
}
.project-name { 
    font-weight: lighter;
}
.footer{
    display: flex;
    justify-content:space-between; 
}
